<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Pablo Parking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type = "text/css" href="../css/pabloparking.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
</head>
<body>
<div class="container" ng-app="registroParqueoModule" ng-controller="registroParqueo">
   		
   		<!-- Dolar Wilkinsonpc Start -->
   		<div>
	   		<a href="http://dolar.wilkinsonpc.com.co/" target="_blank" class="badge badge-success">Dolar Hoy - TRM Colombia</a>
	        <div id="DolarCO5">
	        	<h2><a href="http://dolar.wilkinsonpc.com.co/">Dolar</a></h2>
	        	<a href="http://dolar.wilkinsonpc.com.co/indicadores-economicos-dolar.html">Indicadores Economicos</a>
	       	</div>
	       	<script type="text/javascript" src="http://dolar.wilkinsonpc.com.co/js/dolar-cop-usd-5.js"></script>
       	</div>
       	<!-- Dolar Wilkinsonpc End -->
   		
  		<div id="menu" class="margin-top-30">
        <ul class="nav nav-pills nav-fill">	
            <li class="nav-item">
                <a class="nav-link active" href="#">Ingreso Vehículos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/retiro-parqueo/load">Vehículos Retirados</a>
            </li>
        </ul>
    </div>
    <div class="row margin-top-30">
    	<div class="card width-100" style="width: 100% !important;">
		  <div class="card-body">
		  	<label class="strong">Ingresar un Nuevo Vehículo</label>
		  	<div class="input-group mb-3">
	            <input type="text" class="form-control" maxlength="50" ng-model="registroParqueoDto.placa" placeholder="Placa" aria-label="Placa" aria-describedby="button-addon2" required>
	        </div>
	        <div class="input-group mb-3">
	            <input type="text" class="form-control" maxlength="50" ng-model="registroParqueoDto.cilindraje" placeholder="Cilindraje" aria-label="Cilindraje" aria-describedby="button-addon2" required>
	        </div>
	        <div class="input-group mb-3">
		        <div class="form-check form-check-inline">
				  <input class="form-check-input" ng-model="registroParqueoDto.tipoVehiculo" type="radio" name="tipoVehiculo" id="carro" value="1">
				  <label class="form-check-label" for="carro">Carro</label>
				</div>
				<div class="form-check form-check-inline">
				  <input class="form-check-input" ng-model="registroParqueoDto.tipoVehiculo" type="radio" name="tipoVehiculo" id="moto" value="2">
				  <label class="form-check-label" for="moto">Moto</label>
				</div>
			</div>
	        <div class="input-group mb-3">
	            <button ng-click="ingresar()" class="btn btn-sm btn-info">Ingresar</button>
	        </div>
		  </div>
		</div>
        
        <div id="text-error" class="alert alert-danger" role="alert" ng-show="textError !== '' ">{{textError}}</div>
        
        <div class="alert alert-success alert-dismissible fade show" role="alert" ng-show="textRetirar !== '' ">
		  <strong>{{textRetirar}}</strong> 
		</div>

    </div>
    <div class="row margin-top-30">
    	
    	<label class="strong">Lista de Vehículos Ingresados</label>
    	
        <table class="table table-hover">
            <thead>
            <tr>
            	<th scope="col" hidden="true">Id</th>
                <th scope="col">Placa</th>
                <th scope="col">Tipo de Vehículo</th>
                <th scope="col">Cilindraje</th>
                <th scope="col">Fecha de Ingreso</th>
                <th scope="col">Fecha de Salida</th>
                <th scope="col">Valor Parqueo</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="vehiculo in listVehiculosIngresados">
            	<td hidden="true">{{vehiculo.id}}</td>
                <th scope="row">{{vehiculo.placa}}</th>
                <td>{{vehiculo.tipoVehiculo}}</td>
                <td>{{vehiculo.cilindraje}}</td>
                <td>{{vehiculo.fechaHoraIngreso}}</td>
                <td>{{vehiculo.fechaHoraSalida}}</td>
                <td>{{vehiculo.valorParqueo}}</td>
                <td>{{vehiculo.estadoInOut}}</td>
                <td>
                    <div class="input-group mb-3">
                        <button ng-click="retirar(vehiculo)" class="btn btn-sm btn-info">Retirar</button>
                    </div>
                </td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../js/registro-parqueo.js"></script>
</html>