<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Pablo Parking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type = "text/css" href="../css/pabloparking.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
</head>
<body>
<div class="container" ng-app="vehiculosRetiradosModule" ng-controller="vehiculosRetirados">

		<a href="http://dolar.wilkinsonpc.com.co/" target="_blank" class="badge badge-success">Dolar Hoy - TRM Colombia</a>
		<!-- DolarWeb Start -->
		<div id="DolarCO3">
			<h2><a href="https://dolar.wilkinsonpc.com.co/">Dolar Hoy Colombia</a></h2>
			<a href="https://dolar.wilkinsonpc.com.co/indicadores-economicos-dolar.html">Indicadores Economicos</a>
		</div>
		<script type="text/javascript" src="https://dolar.wilkinsonpc.com.co/widgets/gratis/dolar-cop-usd-3.js"></script>
		<!-- DolarWeb End -->
	
    <div id="menu" class="margin-top-30">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="/">Ingreso Vehículos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#">Vehículos Retirados</a>
            </li>
        </ul>
    </div>
    <div class="row margin-top-30">
        <table class="table table-hover">
            <thead>
            <tr>
            	<th scope="col" hidden="true">Id</th>
                <th scope="col">Placa</th>
                <th scope="col">Tipo de Vehículo</th>
                <th scope="col">Cilindraje</th>
                <th scope="col">Fecha de Ingreso</th>
                <th scope="col">Fecha de Salida</th>
                <th scope="col">Valor Parqueo</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="vehiculo in listVehiculosRetirados">
            	<td hidden="true">{{vehiculo.id}}</td>
                <th scope="row">{{vehiculo.placa}}</th>
                <td>{{ vehiculo.tipoVehiculo == 1 ? "Carro" : "Moto" }}</td>
                <td>{{vehiculo.cilindraje}}</td>
                <td>{{vehiculo.fechaHoraIngreso}}</td>
                <td>{{vehiculo.fechaHoraSalida}}</td>
                <td>{{vehiculo.valorParqueo}}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="../js/vehiculos-retirados.js"></script>
</html>